.statistic {
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.statisticItems {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: row;
  width: 60px;
  background-color: ();
  display: flex;

  padding: 15px;
}

.item:nth-child(odd) {
  background-color: rgb(20, 175, 15);
}
.item:nth-child(even) {
  background-color: rgb(91, 202, 100);
}
